*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: linear-gradient(to top, #3C6919,#0c2514);
}
header{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
#lateral{
    background-image: url(../image/6c54b7f964a430d1da790fb677e020c2.jpg);
    background-size: cover;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-top-right-radius: 20px ;
}


main{
    width: 100%;
    height: 90vh;
    display: flex;
}
.container_content{
    width: 100%;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10;

}
.selecao{
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
   
}
.escolha_imagem{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.selecao select{
    text-align: center;
    background-color: rgb(209, 182, 146);

    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    width: 40%;
}
.content_image{
   
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagem{
    width: 50%;
    height: auto;
}
.imagem img{
    width: 100%;
    height: 60vh;
    border-radius: 10px;
}

.inputs{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(0, 33, 61);
    margin-bottom: 10px;
    font-size: large;
    width: 80%;
    
    }
    .botoes {
        font-size: 20px;
        padding: 5px;
        width: 200px;
        border-radius: 20px;
        background-color: rgb(209, 182, 146);
    }
    #btn_voltar{
        margin-left: 10px;
        padding: 5px;
        border-radius: 10px;
        font-size: 15px;
        background-color: rgb(209, 182, 146);
    }
.p_lateral{
    background-color: rgb(176, 176, 176);
    display: flex;
    font-size: 20px;
    flex-direction: column;
    width: 90%;
    height: 15%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
#data{
    width: 50%;
}
#p_data{
    width: 70%;
}



