html,
body {
    height: 100%;
    width: 100%;
}

header {
    height: 10%;
    background-color: black;
    color: aliceblue;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(51, 51, 51);
    height: 90%;
    color: aliceblue;
    text-align: center;
}

.secs {
    width: 20%;
    height: 90%;
    margin-top: 2%;
}

#sec_esq {
    color: black;
    display: flex;
    flex-direction: column;

}

#sec_meio {
    background-color: rgb(34, 107, 107);

}

#sec_dir {
    background-color: blueviolet;

}

.divs {
    height: 33.33%;
}

#div_cima {
    background-color: green;
}

#div_meio {
    background-color: red;
}

#div_baixo {
    background-color: yellow;
}