html, body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    display: flex;
    text-align: center;
    font-size: 30px;
}

#login{
    background-color: antiquewhite;
    width: 50%;
    padding-top:20% ;
}
#cadastro{
    background-color: rgb(221, 32, 32);
    width: 50%;

}

.logos{
    width: 30px;
}


#emails{
    margin: 15px;
}