html, body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    display: flex;
    text-align: center;
    font-size: 30px;
}

#login{
    background-color: antiquewhite;
    width: 50%;
    padding-top:15% ;
}
#cadastro{
    background-color: rgb(221, 32, 32);
    width: 50%;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
h1{
    font-style: bold;
}

.logos{
    width: 30px;
}


#emails{
    margin: 15px;
}
.botoes{
    width: 130px;
    padding: 10px;
    border-radius: 10px;
    
}